<!doctype html>
<html>
    <head>
        <title>Add New Student</title>
    </head>
    <body>
        <form action="/student-add", method="POST">
            <label>Enter First Name
                <input type="text" name="first_name">
            </label>
            <label>Enter Last Name
                <input type="text" name="last_name">
            </label>
            <label>Enter GitHub username
                <input type="text" name="github">
            </label>
            <input type="submit">
        </form>
    </body>
</html>